.repos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .repos-container {
    padding: 20px;
    width: 100%;
  }
}

.main-heading {
  color: #0f172a;
  font-family: 'Lobster';
  font-size: 48px;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 10px;
}

.language-items-container {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 20px 0px 20px 0px;
  padding-left: 0px;
}

@media screen and (max-width: 767px) {
  .language-items-container {
    flex-wrap: wrap;
  }
}

.repository-item-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0px;
}

@media screen and (max-width: 767px) {
  .repository-item-container {
    flex-direction: column;
    margin: auto;
  }
}

.failure-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.failure-img {
  width: 500px;
}

@media screen and (max-width: 767px) {
  .failure-img {
    width: 70%;
  }
}

.failure-title {
  color: #0f172a;
  font-family: 'Lobster';
  font-size: 48px;
  font-weight: 800;
}

@media screen and (max-width: 767px) {
  .failure-title {
    font-size: 28px;
  }
}
